<app-toolbar [title]="'100 Angular Challenge'">
  <ul>
    <li>Components</li>
    <li>Directives</li>
    <li>Services</li>
    <li>Pipes</li>
    <li>Other</li>
  </ul>
</app-toolbar>
<!-- Card Component -->
<app-card [icon]="'faCircleInfo'" [title]="'Card'" [subTitle]="'Component'">
  <p footer>Card Footer</p>
  <p body>Card Body</p>
</app-card>

<!-- Accordion Component -->
<app-card [icon]="'faCircleInfo'" [title]="'Accordion'" [subTitle]="'Component'">
  <app-accordion body [items]="accordionItems"></app-accordion>
</app-card>

<!-- Progress Bar -->
<app-card [icon]="'faCircleInfo'" [title]="'Progress Bar'" [subTitle]="'Component'">
  <app-progress-bar body [value]="progressValue"></app-progress-bar>
  <button footer class="btn btn-primary" (click)="progressValue = 75;">Update</button>
</app-card>
